Flask==3.1.0
gunicorn==23.0.0

pandas==2.2.3
numpy==2.2.5
scipy==1.15.2

reportlab==4.2.2

requests==2.32.3
supabase==2.15.3

sqlalchemy==2.0.40
psycopg2-binary==2.9.10

plotly==6.0.1
openpyxl==3.1.5
python-dateutil==2.9.0.post0
numpy-financial==1.0.0

playwright==1.54.0
