<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>définitif.investments</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='websiteLogos/definitif_Logo_wb_with_red_hl_square.png') }}">
</head>

<body>

  <!-- Header -->
  <header id="header"></header>

  <!-- Banner-home Section -->
  <div class="banner-home">
    <p class="banner-subtext">
    Our wealth management philosophy combines disciplined investment processes,
    personalized advisory, and long-term partnership to help clients build and
    preserve wealth.
    </p>
    <h2>
      <span>Clarity</span>
      <span class="red-separator">|</span>
      <span>Sécurity</span>
      <span class="red-separator">|</span>
      <span>Growth</span>
    </h2>
  </div>
  
  <!-- Horizontal Sections -->
  <div class="landing-grid">

    <a href="{{ url_for('services') }}" class="landing-card">
      <img src="static/cardImg/products.jpg" alt="Products">
      <div class="card-overlay">
        <h2>Strategies</h2>
        <p>Explore our complete range of financial offerings tailored to your requirements.</p>
      </div>
    </a>

    <a href="{{ url_for('calculators') }}" class="landing-card">
      <img src="static/cardImg/road_ahead.jpg" alt="Calculators">
      <div class="card-overlay">
        <h2>Planners</h2>
        <p>Plan your future with powerful financial planning tools.</p>
      </div>
    </a>

    <a href="{{ url_for('insights') }}" class="landing-card">
      <img src="static/cardImg/outlook.jpg" alt="Insights">
      <div class="card-overlay">
        <h2>Insights</h2>
        <p>Stay informed with market updates and our perspectives.</p>
      </div>
    </a>
  </div>

  <div class="banner-homeportfolio">
    <h1>
      écho
    </h1>
    <p class="banner-subtext">
      <p class="banner-subtext">
        Track performance, manage your holdings and profit booking anytime, anywhere. 
        It is powered by a proprietary model designed to be simple, 
        insightful, and easy to use.
        </p>
        <p class="banner-subtext">
        Please note that the model is currently in its beta phase, 
        so you may experience occasional hiccups as we continue to refine and improve it.
        </p>
    </p>
    <a href="/dashboard" class="btn" target="_blank" rel="noopener noreferrer">Dashboard</a>
  </div>
  <!-- Footer -->
  <footer id="footer"></footer>

  <!-- JavaScript injection -->
  <script src="{{ url_for('static', filename='loadHeaderFooter.js') }}"></script>

</body>
</html>