<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <title>définitif</title>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='definitif_Logo_wb_with_red_hl_square.png') }}">
</head>

<body>

  <!-- Header -->
  <header id="header"></header>

  <!-- Banner-home Section -->
  <div class="banner-home">
    <p class="banner-subtext">
    Smart wealth strategies combining professional advice,
    goal-based planning, and selective investments. 
    </p>
    <h2>
      <span>Clarity</span>
      <span class="red-separator">|</span>
      <span>Sécurity</span>
      <span class="red-separator">|</span>
      <span>Growth</span>
    </h2>
  </div>
  
  <!-- Horizontal Sections -->
  <div class="landing-grid">

    <a href="{{ url_for('services') }}" class="landing-card">
      <img src="static/services_tiffin.jpg" alt="Products">
      <div class="card-overlay">
        <h2>Strategies</h2>
        <p>Explore our complete range of financial offerings tailored to your goals.</p>
      </div>
    </a>

    <a href="{{ url_for('calculators') }}" class="landing-card">
      <img src="static/goal_arrow.jpg" alt="Calculators">
      <div class="card-overlay">
        <h2>Roadmap</h2>
        <p>Plan your future with powerful financial planning tools.</p>
      </div>
    </a>

    <a href="{{ url_for('insights') }}" class="landing-card">
      <img src="static/outlook_binocular.jpg" alt="Insights">
      <div class="card-overlay">
        <h2>Outlook</h2>
        <p>Stay informed with market updates and expert perspectives.</p>
      </div>
    </a>
  </div>
  <!-- Footer -->
  <footer id="footer"></footer>

  <!-- JavaScript injection -->
  <script src="{{ url_for('static', filename='loadHeaderFooter.js') }}"></script>

</body>
</html>

